doctype html
html
    head
        title Puzzle
        link(href='https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css' rel='stylesheet' integrity='sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC' crossorigin='anonymous')
        link(rel='stylesheet' href='/style.css') 

    body
        div.container-md.viewpageContainer
            h3.header-alert
            div.headerViewpage 
            //- h1.addheading Enter the exercise name to start with...            
            div.content-div   
                div.adminpageimg
                    h2(style='color:white').addpageheading WELCOME TO ADMIN PAGE
                    img(src="/asset/thinking-1.png").img-style-rigth
                    img(src="/asset/i am possible.png").impossible
                div.button-class-1.content.addpagecontent 
                    if(myva !=" ")
                        input(type="text" value="#{myva}" name='exerciseName' placeholder='Enter Exercise Name...' class='inputEX').input-add-existing
                    else 
                        input(type="text" name='exerciseName' placeholder='Enter Exercise Name...' class='inputEX').input-add-existing    
                    a(class='three' style='padding-top:1.8%') Three Words Sentence
                    a( class='four' style='padding-top:1.8%') Four Words Sentence
                    a(href='/post/fiveWord' class='five' style='padding-top:1.8%') Five Words Sentence
                    a(href='/post/adminbtn' style='padding-top:1.8%').quit-a Back
        script(src='https://code.jquery.com/jquery-3.6.0.min.js') 
        script(type="text/javascript" src="/header.js")       
        script. 
                let inp =document.querySelector('.inputEX')
                document.querySelector(".three").removeAttribute("href")
                document.querySelector(".four").removeAttribute("href")
                document.querySelector(".five").removeAttribute("href")
                //- console.log(myva)
                let alertHeader =document.querySelector('.header-alert')
                alertHeader.style.display='none'
                $(document).ready(function() {
                    $('.inputEX').focus(function() {
                        alertHeader.style.display='none'
                        alertHeader.innerHTML=""
                    });
                });
                $(document).ready(function() {
                    $('.three').click(function() {
                        if(inp.value ==""){
                            alertHeader.style.display='inline'
                            alertHeader.innerHTML ='Please Enter Exercise Name'
                        }else{
                            document.querySelector(".three").setAttribute("href", "/post/threeWord");
                            var myData = 3;
                        $.ajax({
                            url: "/post/exerciseNameStoring",
                            method: "POST",
                            data: { myData: myData, input: inp.value },
                            success: function(response) {
                            console.log(response);
                            },
                            error: function(err) {
                            console.log(err);
                            }
                        });
                        }
                    });
                    $('.four').click(function() {
                       if(inp.value ==""){
                            alertHeader.style.display='inline'
                            alertHeader.innerHTML ='Please Enter Exercise Name'
                       }else{
                            document.querySelector(".four").setAttribute("href", "/post/fourWord");
                            var myData = 4;
                            $.ajax({
                                url: "/post/exerciseNameStoring",
                                method: "POST",
                                data: { myData: myData, input: inp.value },
                                success: function(response) {
                                console.log(response);
                                },
                                error: function(err) {
                                console.log(err);
                                }
                            });
                       }
                    });
                    $('.five').click(function() {
                        if(inp.value ==""){
                            alertHeader.style.display='inline'
                            alertHeader.innerHTML ='Please Enter Exercise Name'
                        }else{
                            document.querySelector(".five").setAttribute("href", "/post/fiveWord");
                            var myData = 5;
                            $.ajax({
                                url: "/post/exerciseNameStoring",
                                method: "POST",
                                data: { myData: myData, input: inp.value },
                                success: function(response) {
                                console.log(response);
                                },
                                error: function(err) {
                                console.log(err);
                                }
                            });
                        }
                    });
                });
                
                