doctype html
html
    head
        title Puzzle
        link(href='https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css' rel='stylesheet' integrity='sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC' crossorigin='anonymous')
        link(rel='stylesheet' href='/style.css') 

    body.body
        div.container-md.viewpageContainer
            div.headerViewpage 
            div.student-level-div
                h3.h3-tag-answer Note: Arrange the words in correct format.
                div.student-answer-question.content.button-class-1 
                    div.levelandex  
                        h3.lev-h3 Level 1
                        h3.lev-h3 Q.no : #{level}
                    h3(style='text-align:center').lev-h3 Question 
                    p(style="display:none").modeCapture #{mode}   
                    div.div-question-tag.setTime 
                        p.word-1.modeScan.para-tag-q.align-items #{question[0].Word3}
                        audio(controls=''  class="audio1").audiohidden  
                            source(src="/uploaded files/#{question[0].Audio3}" ).src1
                        p.word-2.modeScan.para-tag-q.align-items #{question[0].Word1}
                        audio(controls=''  class="audio2").audiohidden  
                            source(src="/uploaded files/#{question[0].Audio1}" ).src2
                        p.word-3.modeScan.para-tag-q.align-items #{question[0].Word2}
                        audio(controls=''  class="audio3").audiohidden  
                            source(src="/uploaded files/#{question[0].Audio2}" ).src3
                    h3.ans-h3 Answer
                    div.answer-div.answerBack 
                        span.span-tag-answer.answer-1 
                        span.span-tag-answer.answer-2 
                        span.span-tag-answer.answer-3 
                    div.bottom-ans-btn         
                        a(href='/post/nextQ' style='width:20%;padding-top:.6%' class="answerss").answerSuAndRe.submit-btn Submit
                        a(href='/post/level1game' style='width:20%;float:left;padding-top:.6%' ).answerSuAndRe.redo-btn Re-do
                        if(avail ==1 )
                            a(href='/post/student' style='padding-top:.6%').answerSuAndRe.backBtn-Btn Back
                        else 
                            a(href='/post/level' style='padding-top:.6%').answerSuAndRe.backBtn-Btn Back



        script(src='https://code.jquery.com/jquery-3.6.0.min.js') 
        script(type="text/javascript" src="/header.js") 
        if(mode ==1)
            script(type="text/javascript" src="/timer.js")
                   
        else 
            script. 
                let inp =document.querySelector('#exercise')
                let wor1 =document.querySelector('.word-1')
                let ans1 =document.querySelector('.answer-1')
                let wor2=document.querySelector('.word-2')
                let ans2 =document.querySelector('.answer-2')
                let wor3=document.querySelector('.word-3')
                let ans3=document.querySelector('.answer-3')
                let arr=[]
                $(document).ready(function() {
                    $('.answerss').click(function() {
                        let word1 = document.querySelector('.answer-1').innerHTML
                        let word2 = document.querySelector('.answer-2').innerHTML
                        let word3 = document.querySelector('.answer-3').innerHTML
                        $.ajax({
                            url: "/post/resultAnswerL1",
                            method: "POST",
                            data: {Aword1: word1,Aword2:word2,Aword3:word3 },
                            success: function(response) {
                                alert(response)
                                console.log(response);
                            },
                            error: function(err) {
                            console.log(err);
                            }
                        });
                    });
                });
                $(document).ready(function() {
                    $('.word-1').click(function() {
                        let audio1 =document.querySelector('.audio1')
                        audio1.play()
                        wor1.style.border='none'
                        wor1.style.boxShadow='none'
                        //- document.querySelector('.src1').removeAttribute("src")
                        if(ans1.innerHTML == ' '){
                            console.log(wor1.innerHTML)
                            ans1.innerHTML=wor1.innerHTML
                            wor1.innerHTML=" "
                        }
                        else if(ans2.innerHTML ==' '){
                            ans2.innerHTML=wor1.innerHTML
                            wor1.innerHTML =" "
                        }
                        else if(wor1.innerHTML !=" "){
                            ans3.innerHTML=wor1.innerHTML
                            wor1.innerHTML =" "
                        }
                    
                    });
                });
                
                $(document).ready(function() {
                    $('.word-2').click(function() {
                        let audio1 =document.querySelector('.audio2')
                        wor2.style.border='none'
                        wor2.style.boxShadow='none'
                        audio1.play()
                        audio1.removeAttribute('src')
                        if(ans1.innerHTML ==' '){
                            ans1.innerHTML=wor2.innerHTML
                            wor2.innerHTML =" "
                        }
                        else if(ans2.innerHTML ==' '){
                            ans2.innerHTML=wor2.innerHTML
                            wor2.innerHTML =" "
                        }
                        else if(wor2.innerHTML !=" "){
                            ans3.innerHTML=wor2.innerHTML
                            wor2.innerHTML =" "
                        }
                    
                    });
                });
                $(document).ready(function() {
                    $('.word-3').click(function() {
                        wor3.style.border='none'
                        wor3.style.boxShadow='none'
                        let audio1 =document.querySelector('.audio3')
                        audio1.play()
                        audio1.removeAttribute('src')
                        if(ans1.innerHTML ==' '){
                            ans1.innerHTML=wor3.innerHTML
                            wor3.innerHTML =" "
                        }
                        else if(ans2.innerHTML ==' '){
                            ans2.innerHTML=wor3.innerHTML
                            wor3.innerHTML =" "
                        }
                        else if(wor3.innerHTML !=" "){
                            console.log(wor3.innerHTML)
                            ans3.innerHTML=wor3.innerHTML
                            wor3.innerHTML =" "
                        }
                    });
                });     