doctype html
html
    head
        title Puzzle
        link(href='https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css' rel='stylesheet' integrity='sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC' crossorigin='anonymous')
        link(rel='stylesheet' href='/style.css') 

    body
        div.container-md.viewpageContainer
            div.headerViewpage  
            div.student-level-div 
                h3.h3-tag-answer Note: Arrange the words in correct format.
                div.student-answer-question.content.button-class-1
                    //- form( enctype="multipart/form-data" style='display:flex;flex-direction:column;width:100%').content.button-class-1 
                    div.levelandex  
                        h3.lev-h3 Level 2
                        h3.lev-h3 Q.no : #{level}
                    h3(style='text-align:center').lev-h3 Question    
                    div.div-question-tag 
                        p.word-1.modeScan.para-tag-q.q-four.align-items #{question[0].Word3}
                        audio(controls=''  class="audio1").audiohidden 
                            source(src="/uploaded files/#{question[0].Audio3}" )
                        p.word-2.modeScan.para-tag-q.q-four.align-items #{question[0].Word4}
                        audio(controls='' class="audio2").audiohidden  
                            source(src="/uploaded files/#{question[0].Audio4}" )
                        p.word-3.modeScan.para-tag-q.q-four.align-items #{question[0].Word1}
                        audio(controls='' class="audio3").audiohidden  
                            source(src="/uploaded files/#{question[0].Audio1}" )
                        p.word-4.modeScan.para-tag-q.q-four.align-items #{question[0].Word2}
                        audio(controls=''  class="audio4").audiohidden  
                            source(src="/uploaded files/#{question[0].Audio2}" )
                    h3.ans-h3 Answer
                    div.answer-div.answerBack 
                        p.span-tag-answer.answer-1 
                        p.span-tag-answer.answer-2 
                        p.span-tag-answer.answer-3 
                        p.span-tag-answer.answer-4 
                    div.bottom-ans-btn          
                        a(href='/post/nextQLev2' style='width:30%;padding-top:.6%' class="answerss").answerSuAndRe Submit
                        a(href='/post/level2game' style='width:30%;float:left;padding-top:.6%').answerSuAndRe Re-do


        script(src='https://code.jquery.com/jquery-3.6.0.min.js')
        script(type="text/javascript" src="/header.js")    
        if(mode ==1)
            script(type="text/javascript" src="/timer.js")
        else 
            script. 
                let inp =document.querySelector('#exercise')
                let wor1 =document.querySelector('.word-1')
                let ans1 =document.querySelector('.answer-1')
                let wor2=document.querySelector('.word-2')
                let ans2 =document.querySelector('.answer-2')
                let wor3=document.querySelector('.word-3')
                let ans3=document.querySelector('.answer-3')
                let wor4=document.querySelector('.word-4')
                let ans4=document.querySelector('.answer-4')
                let arr=[]
                
                $(document).ready(function() {
                    $('.answerss').click(function() {
                        let word1 = document.querySelector('.answer-1').innerHTML
                        let word2 = document.querySelector('.answer-2').innerHTML
                        let word3 = document.querySelector('.answer-3').innerHTML
                        let word4 = document.querySelector('.answer-4').innerHTML
                            
                        $.ajax({
                            url: "/post/resultAnswerL2",
                            method: "POST",
                            data: {Aword1: word1,Aword2:word2,Aword3:word3,Aword4:word4 },
                            success: function(response) {
                                alert(response)
                                console.log(response);
                            },
                            error: function(err) {
                            console.log(err);
                            }
                        });
                    });
                });

                $(document).ready(function() {
                     $('.word-1').click(function() {
                        let audio1 =document.querySelector('.audio1')
                        audio1.play()
                        wor1.style.border='none'
                        wor1.style.boxShadow='none'
                        if(ans1.innerHTML == ' '){
                            console.log(wor1.innerHTML)
                            ans1.innerHTML=wor1.innerHTML
                            wor1.innerHTML =" "
                        }
                        else if(ans2.innerHTML ==' '){
                            ans2.innerHTML=wor1.innerHTML
                            wor1.innerHTML =" "
                        }
                        else if(ans3.innerHTML ==' '){
                            ans3.innerHTML=wor1.innerHTML
                            wor1.innerHTML =" "
                        }else if(wor1.innerHTML !=" "){
                            ans4.innerHTML=wor1.innerHTML
                            wor1.innerHTML =" "
                        }
                        
                    });
                });
                    
                $(document).ready(function() {
                    $('.word-2').click(function() {
                        let audio1 =document.querySelector('.audio2')
                        audio1.play()
                        wor2.style.border='none'
                        wor2.style.boxShadow='none'
                        if(ans1.innerHTML ==' '){
                            ans1.innerHTML=wor2.innerHTML
                            wor2.innerHTML =" "
                        }
                        else if(ans2.innerHTML ==' '){
                            ans2.innerHTML=wor2.innerHTML
                            wor2.innerHTML =" "
                        }
                        else if(ans3.innerHTML ==' '){
                            ans3.innerHTML=wor2.innerHTML
                            wor2.innerHTML =" "
                        }else if(wor2.innerHTML !=" "){
                            ans4.innerHTML=wor2.innerHTML
                            wor2.innerHTML =" "
                        }
                        
                    });
                });
                    
                $(document).ready(function() {
                    $('.word-3').click(function() {
                            
                        let audio1 =document.querySelector('.audio3')
                        audio1.play()
                        wor3.style.border='none'
                        wor3.style.boxShadow='none'
                        if(ans1.innerHTML ==' '){
                            ans1.innerHTML=wor3.innerHTML
                            wor3.innerHTML =" "
                        }
                        else if(ans2.innerHTML ==' '){
                            ans2.innerHTML=wor3.innerHTML
                            wor3.innerHTML =" "
                        }
                        else if(ans3.innerHTML ==' '){
                                
                            ans3.innerHTML=wor3.innerHTML
                            wor3.innerHTML =" "
                        }else if(wor3.innerHTML !=" "){
                            ans4.innerHTML=wor3.innerHTML
                            wor3.innerHTML =" "
                        }
                        
                    
                    });
                });

                $(document).ready(function() {
                    $('.word-4').click(function() {
                            
                        let audio1 =document.querySelector('.audio4')
                        audio1.play()
                        wor4.style.border='none'
                        wor4.style.boxShadow='none'
                        if(ans1.innerHTML ==' '){
                            ans1.innerHTML=wor4.innerHTML
                            wor4.innerHTML =" "
                        }
                        else if(ans2.innerHTML ==' '){
                            ans2.innerHTML=wor4.innerHTML
                            wor4.innerHTML =" "
                        }
                        else if(ans3.innerHTML ==' '){
                                
                            ans3.innerHTML=wor4.innerHTML
                            wor4.innerHTML =" "
                        }else if(wor4.innerHTML !=" "){
                            ans4.innerHTML=wor4.innerHTML
                            wor4.innerHTML =" "
                        }
                        
                    
                    });
                });